{% extends 'notes/base.html' %}
{% block title %}All Notes{% endblock %}
{% block content %}
{% if notes %}
<h2 class="d-flex justify-content-center my-3">All Notes</h2>
{% else %}
<h2 class="d-flex justify-content-center my-3">You haven't made any notes</h2>

{% endif %}
<div class="row">
{% for note in notes %}
    <div class="col border p-3 m-1">
        <a href="{% url 'notes.note' note.id %}" class="text-dark text-decoration-none"><h3 class="d-flex justify-content-center">{{note.title}}</h3></a>
        <p class="d-flex justify-content-center">{{ note.text }}</p>
    </div>
 {% endfor %}
</div>


{% endblock %}