{% extends 'notes/base.html' %}
{% block title %}Update Note{% endblock %}
{% block content %}
<h2 class="d-flex justify-content-center my-3">Update Note</h2>
<div class="border p-3 my-3" style="width: 50%; margin: 0 auto;">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'notes.list' %}" class="btn btn-dark">Back</a>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'notes.delete' note.id %}" class="btn btn-danger">Delete</a>
    </form>
</div>
{% endblock %}